<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.blenke.bumperball"
        versionCode="1" 
        version   = "1.0.0">
    <preference name="phonegap-version" value="2.5.0" />
    <!-- versionCode is optional and Android only -->
	
	<preference name="orientation" value="default" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	
	<!-- ios -->

	<!-- android -->
    <plugin name="Media" value="org.apache.cordova.AudioHandler" />
	
    <name>BumperBall</name>

    <description>
        BumperBall
    </description>

    <author href="https://build.phonegap.com" email="nathan@blenke.com">
        Nathan Blenke
    </author>

	<!-- icons 
	<icon src="icon.png" />
	<icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
-->
	<!-- Splash Screens 
	<gap:splash src="splash.png" />
	<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
-->
</widget>
